<div class="menu-container">
  <input type="checkbox" id="openmenu" class="hamburger-checkbox" />

  <div class="hamburger-icon">
    <label for="openmenu" id="hamburger-label">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="menu-pane">
    <nav>
      <ul class="menu-links">
        <li>
          <a href="###">CONTACT DETAILS</a
          ><span id="QC-info">
            <p>+63 9550461830</p>
          </span>
        </li>

        <li><a href="###">ABOUT</a></li>
        <li><a href="###">EDUCATION</a></li>
        <li><a href="###">SKILLS</a></li>
        <li><a href="###">ACHIEVEMENT</a></li>
        <li><a href="###">REFERENCE</a></li>
      </ul>
    </nav>
  </div>
</div>
<app-about></app-about>
<app-education></app-education>
<app-skills></app-skills>
<app-achievement></app-achievement>
<app-reference></app-reference>
